@import "tailwindcss";
@import "@heroui/styles";
@plugin "daisyui";

@source "../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --accent: oklch(0.7 0.25 260);
  --success: oklch(0.65 0.15 155);
}

.dark {
  color-scheme: dark !important;
}


.dark input, 
.dark select, 
.dark textarea,
.dark label {
  color: #ffffff !important;
}